# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Firebase
firebase-debug.log
.firebase/

# Swift Package Manager
.swiftpm/
.build/
Packages/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/
